$plugin-height: 66px;

/* Fade in up
------------------------------------ */
@keyframes slideUp {
    0% {
        transform: translateY($plugin-height);
    }

    100% {
        transform: translateY(0);
    }
}



.cc_container,
.cc_message,
.cc_btn {
    animation-duration: 0.8s;
    animation-name: slideUp;
}
