$plugin-height: 66px;
$transition-delay: .8s;

/* Fade in up
------------------------------------ */
@keyframes slideUp {
    0% {
        transform: translateY($plugin-height);
    }

    100% {
        transform: translateY(0);
    }
}


.cc_container {
    transition: transform $transition-delay;
    transform: translateY($plugin-height);

    &.cc_container--is-open {
        transform: translateY(0);
        animation: slideUp $transition-delay;
    }
}

