$plugin-height: 70px;
$transition-delay: .8s;

.cc_container {
    transition: transform $transition-delay;
    transform: translateY($plugin-height);

    &.cc_container--is-open {
        transform: translateY(0);
    }
}

