$plugin-height: 66px;

/* Fade in down
------------------------------------ */
@keyframes fadeInDown {
    0% {
        transform: translateY(-$plugin-height);
    }

    100% {
        transform: translateY(0);
    }
}

.cc_container,
.cc_message,
.cc_btn {
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
}
