@import '../_variables';
@import 'base';

.cc_container {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    overflow:hidden;
    padding:10px;

    .cc_btn {
        padding:8px 10px;
        background-color:#f1d600;
        cursor: pointer;
        text-align: center;
        display: block;
        width:33%;
        margin-left:10px;
        float:right;
        max-width: 120px;
    }

    .cc_message {
        display: block;
    }
}

// small *hack*, because we want smaller font on small screens
// but we also want to leave bigger font on ancient browsers
@media screen and (min-width: 1px) {
    .cc_container {

        .cc_btn {
            font-size:0.6em;
        }

        .cc_message {
            font-size:0.6em;
        }
    }
}

@media screen and (min-width: $screen-xs-min) {
    .cc_container {

        .cc_btn {
            font-size:0.8em;
        }

        .cc_message {
            font-size:0.8em;
        }
    }
}



@media screen and (min-width: $screen-sm-min) {

    .cc_container {
        padding:15px 30px 15px;

        .cc_btn-wrapper {

        }

        .cc_btn {
            padding:8px 15px;
        }

        .cc_message {

        }
    }

    .cc_container-content {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
    }
}

@media screen and (min-width: $screen-md-min) {

    .cc_container {

        .cc_message {

        }
    }
}
