
@function to-em($val) {
    @return (($val/16)*1em)
}


$screen-xs-min: to-em(500);
$screen-sm-min: to-em(768);
$screen-md-min: to-em(992);
$screen-lg-min: to-em(1201);

$screen-sm-max: to-em(767);
$screen-md-max: to-em(991);
$screen-lg-max: to-em(1200);

$plugin-height: 66px !default;
